@namespace Blazor.Midi.GoKeys.Pages

<div class="box box-7">
	@if (ToneService.IsInitialized)
	{
		<GKTextBox @bind-Value:get="_searchText"
				   @bind-Value:set="FilterTones"
				   Placeholder="Search a tone..." />

		<br />
		<br />
		<select class="category-select" @onchange="OnCategoryChanged">
			<option value="">Select a category</option>
			@foreach (var item in Categories)
			{
				<option value="@item" selected="@(Category == item)">@item</option>
			}
		</select>
	}
</div>

<div class="box box-8">
	@if (selectedTones.Any())
	{
		<ul class="list-tones">
			@foreach (var tone in selectedTones)
			{
				<li @onclick="() => OnToneClick(tone)">@tone.Num - @tone.Name</li>
			}
		</ul>
	}
</div>