@page "/"

<div class="row-2">
	<div class="box box-4">
		<GKButton Caption=""
				  Class="power-button-icon"
				  OnClick="PowerClick"	 
				  Appearance="Appearance.Extended" />
	</div>

	<div class="box box-5">
		<div class="align-center">
			<GKLCD Disabled="@(!_isConnected)"
				   TextStates="@_connectionStatus"
				   MainContent="@_mainContent"	  
				   ActiveMenuIndex="@_activePanelIndex" />
		</div>
		<div class="functions">
			<GKButton Caption="f1"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectPanel(Components[nameof(TonesPanel)]))" />
			<GKButton Caption="f2"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectPanel(Components [nameof(TrackerPanel)]))" />
			<GKButton Caption="f3"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectBottomPanel(BottomComponents[nameof(PresetsPanel)]))" />
			<GKButton Caption="f4"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectPanel(Components[nameof(SettingsPanel)]))" />
		</div>
	</div>

	<div class="box box-6">
	</div>
</div>



<div class="row-3">
	@if (_selectedComponent is not null)
	{
		<DynamicComponent Type="_selectedComponent.Type"
						  Parameters="_selectedComponent.Parameters" />

	}
</div>


<div class="row-4">
	@if (_selectedBottomComponent is not null)
	{
		<DynamicComponent Type="_selectedBottomComponent.Type"
						  Parameters="_selectedBottomComponent.Parameters" />
	}
</div>
