@page "/"

<div class="row-2">
	<div class="box box-4">
		<GKButton Caption=""
				  Class="power-button-icon"
				  OnClick="PowerClick"	 
				  Appearance="Appearance.Extended" />
	</div>

	<div class="box box-5">
		<div class="align-center">
			<GKLCD Disabled="@(!_isConnected)"
				   TextStates="@_connectionStatus"
				   MainContent="@_mainContent"	  
				   ActiveMenuIndex="@_activePanelIndex" />
		</div>
		<div class="functions">
			<GKButton Caption="f1"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectPanel(Components[nameof(TonesPanel)]))" />
			<GKButton Caption="f2"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectPanel(Components [nameof(TrackerPanel)]))" />
			<GKButton Caption="f3"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="NoYetCode" />
			<GKButton Caption="f4"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;"
					  OnClick="@(() => SelectPanel(Components[nameof(SettingsPanel)]))" />
		</div>
	</div>

	<div class="box box-6">
		<div class="items">
			<GKButton class="item"
					  Caption="piano"
					  OnClick="@(() => PreselectClick("Ac.Piano"))" />
			<GKButton class="item"
					  Caption="e piano"
					  OnClick="@(() => PreselectClick("E.Piano1"))" />
			<GKButton class="item"
					  Caption="strings"
					  OnClick="@(() => PreselectClick("Ensemble Strings"))" />
			<GKButton class="item"
					  Caption="synth"
					  OnClick="@(() => PreselectClick("Synth Lead"))" />
			<GKButton class="item"
					  Caption="BellPad"
					  OnClick="@(() => PreselectClick("Synth BellPad"))" />
			<GKButton class="item"
					  Caption="Synth FX"
					  OnClick="@(() => PreselectClick("Synth FX"))" />
			<GKButton class="item"
					  Caption="drums"
					  OnClick="@(() => PreselectClick("Drums"))" />
			<GKButton class="item"
					  Caption="dist.Guitar"
					  OnClick="@(() => PreselectClick("Dist.Guitar"))" />
		</div>
	</div>
</div>



<div class="row-3">
	@if (_selectedComponent is not null)
	{
		<DynamicComponent Type="_selectedComponent.Type"
						  Parameters="_selectedComponent.Parameters" />

	}
</div>


<div class="row-4">
	<div class="box box-9">
		<div id="keyboard">
			<div class="piano-key white" data-note="C"></div>
			<div class="piano-key black" data-note="C#"></div>
			<div class="piano-key white offset" data-note="D"></div>
			<div class="piano-key black" data-note="D#"></div>
			<div class="piano-key white offset offset-right" data-note="E"></div>
			<div class="piano-key white" data-note="F"></div>
			<div class="piano-key black" data-note="F#"></div>
			<div class="piano-key white offset" data-note="G"></div>
			<div class="piano-key black" data-note="G#"></div>
			<div class="piano-key white offset" data-note="A"></div>
			<div class="piano-key black" data-note="A#"></div>
			<div class="piano-key white offset offset-right" data-note="B"></div>
			<div class="piano-key white" data-note="C2"></div>
			<div class="piano-key black" data-note="C#2"></div>
			<div class="piano-key white offset" data-note="D2"></div>
			<div class="piano-key black" data-note="D#2"></div>
			<div class="piano-key white offset" data-note="E2"></div>
		</div>

	</div>
</div>
