@page "/"


<PageTitle>Midi-GoKeys</PageTitle>

<h1>Midi Go:Keys</h1>

Work in progress


<div class="container">
	<div class="column">
		<GKButton Caption="⏻"
				  OnClick="PowerClick"
				  Appearance="Appearance.Extended" />
	</div>

	<div class="column">
		<GKLCD Disabled="@(!_isConnected)"
			   TextStates="@_connectionStatus"
			   MainContent="@_mainContent" />
		<div class="functions">
			<GKButton Caption="f1"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;" />
			<GKButton Caption="f2"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;" />
			<GKButton Caption="f3"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;" />
			<GKButton Caption="f4"
					  CaptionPosition="CaptionPosition.Inside"
					  Style="flex: 1;" />
		</div>
	</div>

	<div class="column">
		<GKButton Caption="piano" />
		<GKButton Caption="string" />
	</div>
</div>


<div class="container">
	<div class="column">
		@if (!ToneService.IsInitialized)
		{
			<p>Chargement...</p>
		}
		else
		{
			<select @onchange="OnCategoryChanged">
				<option value="">Sélectionner une catégorie</option>
				@foreach (var category in categories)
				{
					<option value="@category">@category</option>
				}
			</select>
		}
	</div>

	<div class="column">
		@if (selectedTones.Any())
		{
			<ul class="list-tones">
				@foreach (var tone in selectedTones)
				{
					<li @onclick="() => OnToneClick(tone)">@tone.Num - @tone.Name</li>
				}
			</ul>
		}
	</div>
</div>