@namespace Blazor.Midi.GoKeys.Components

@inherits GKComponentBase

<div class="gk-container @Class" style="@Style">
    <div class="gk-caption @GetClassPosition()">@Caption</div>

    <button @onclick="@OnClickHandlerAsync"
            class="gk-button @GetComponentClass()"
            disabled="@(ParentDisabled | Disabled)"
            @attributes="Attributes">
        @ChildContent
    </button>
</div>