@namespace Blazor.Midi.GoKeys.Components

@inherits GKComponentBase

<div class="gk-container" style="@Style">
    <div class="gk-caption @GetClassPosition()">@Caption</div>

    <button @onclick="@OnClickHandlerAsync"
            class="gk-start @GetComponentClass() @Class"
            disabled="@(ParentDisabled | Disabled)"
            
            @attributes="Attributes">
        @ChildContent
    </button>
</div>